$dark-text-color: #4A4A4A;
$primary-color: #D64541;
$white-text-color: #ECECEC;
$accent-color: #96281b;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Avenir";
  color: $dark-text-color;
}

.container{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.push{
  min-height: 90vh;
}

.standard-page{
  padding-top: 100px;
}

.start-phrase{
  font-size: 2em;
}

.large-icon{
  font-size: 8em;
  color: $dark-text-color;
}

.large-icon-well{
  margin: 20px 0px 20px 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

table{
  width: 100%;
  margin-bottom: 20px;
  thead{
    background-color: $primary-color;
    color: $white-text-color;
    height: 50px;
    th{
      font-size: 2em;
      text-align: center;
      width: 50%;
    }
  }
  tbody{
    background-color: #FFFFFF;
    color: $dark-text-color;
    tr{
      height: 50px;
    }
    td{
      text-align: center;
      font-size: 1.5em;
    }
    tr:nth-child(2n+2){
      background-color: $white-text-color;
    }
  }
}
