.call-to-action{
  position: relative;
  margin-top: 70px;
  height: 80vh;
  &__title-wrapper{
    background-color: rgba(236, 236, 236, 0.5);
    color: $primary-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    h1{
      font-size: 2.5em;
      text-align: center;
    }
    h3{
      font-size: 2.5em;
      text-align: center;
    }
    &__subtitle{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      img{
        width: 100px;
      }
    }
  }
  &__canvas{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
  }
}

.title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  img{
    height: 55px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 345px){
  .call-to-action{
    &__title-wrapper{
      &__subtitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__space{
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 540px){
  .title-container{
    flex-direction: column;
    align-items: center;
    image{
      margin-left: 0px;
    }
  }
}
