.contact-wrapper{
  padding: 20px;
  background-color: $white-text-color;
  h1{
    color: $dark-text-color;
  }
  &__section-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    &__tweet-section{
      flex-basis: 40%;
      span{
        display: block;
        font-size: 20px;
        color: $dark-text-color;
        margin-bottom: 10px;
      }
      textarea{
        width: calc(100% - 20px);
        resize: none;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid $dark-text-color;
        &:focus{
          outline: none;
        }
      }
      a{
        display: block;
        background-color: $primary-color;
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: $white-text-color !important;
        width: 80%;
        &:hover{
          background-color: $accent-color !important;
        }
      }
    }
    &__map-section{
      flex-basis: 60%;
      padding-left: 50px;
      span{
        display: block;
        font-size: 20px;
        color: $dark-text-color;
        margin-bottom: 10px;
      }
      iframe{
        height: 300px;
        width: 100%;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 570px){
  .contact-wrapper{
    &__section-wrapper{
      flex-wrap: wrap;
      &__map-section{
        flex-basis: 100%;
        padding-left: 0px;
      }
      &__tweet-section{
        flex-basis: 100%;
      }
    }
  }
}

.contact-modal{
  width: 100%;
  text-align: center;
}

.tweet{
  background-color: white;
  color: $dark-text-color;
  padding: 20px;
  border-radius: 20px;
  &__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 5px;
      border: 4px solid $dark-text-color;
    }
    h3{
      font-size: 1.5em;
      color: $dark-text-color;
      display: inline;
      margin: 0px;
    }
  }
  span{
    display: block;
    width: 100%;
  }
}
