.modal-mask{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.5);
}

.modal{
  display: block;
  padding: 40px;
  border-radius: 20px;
  position: fixed;
  z-index: 999999999;
  background-color: $white-text-color;
  left: 100px;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 80vh;
  overflow-y: scroll;
  &__actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    align-items: center;
    a{
      padding: 10px;
      border-radius: 5px;
      background-color: $dark-text-color;
      color: $white-text-color !important;
      margin: 10px;
      &:hover{
        text-decoration: none;
        color: $white-text-color;
        background-color: $accent-color;
      }
    }
  }
}


@media only screen and (max-width: 600px){
  .modal{
    left: 20px;
    right: 20px;
  }
}
