.schedule{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  &__staff{
    background-color: $primary-color !important;
    &__member{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      color: $white-text-color;
      text-align: center;
    }
  }

  &__staff-2{
    display: none !important;
  }

  &__section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    &__day{
      background-color: $primary-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      color: $white-text-color;
    }
    &__apointment{
      &__time{
        font-size: 0.8em;
        text-align: center;
        color: $white-text-color;
      }
      &__name{
        font-size: 1em;
        text-align: center;
        color: $white-text-color;
      }
      &__more-info{
        width: 100%;
        height: 100%;
        background-color: $dark-text-color;
        color: $white-text-color;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover{
          text-decoration: none;
          color: $white-text-color;
          background-color: $accent-color;
        }
      }
      &__book{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $dark-text-color;
        &__title{
          font-size: 1.5em;
        }
        &__description{
          font-size: 0.8em;
          text-align: center;
        }
      }
    }
  }
  &__section-day-1:nth-child(2n){
    background-color: $white-text-color;
  }
  &__section-day-2:nth-child(2n+1){
    background-color: $white-text-color;
  }
}

@media only screen and (max-width: 500px){
  .schedule{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &__staff-2{
      display: grid !important;
    }
  }
}

.set-appointment-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view-appointment-modal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  p{
    text-align: center;
  }
}
