.team-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__member{
    color: $dark-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px 20px 20px;
    
    &__title{
      font-size: 1.5em;
      text-align: center;
    }
    &__name{
      font-size: 2em;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 730px) {
  .team-wrapper{
    justify-content: center;
    &__member{
      width: 100%;
    }
  }
}

.team-create-modal{
  display: flex;
  flex-direction: column;
  align-items: center;

}